
body{
  background-image: url('img/background(home)2.png');
}
#example1 {
  border: 1px solid;
  background-color: white;
  padding: 10px;
  width:150px;
  height:80px;
  opacity: .8;
  float:right;
  font-size: 31px;
  margin-top: 82px;
  margin-right: 10px;
  box-shadow: 5px 4px 8px 5px #888888;
  cursor: grab;
}
header{
   border: 2px solid black;
    height:29em;
        margin:.2em;
        background-color: rgb(0,0,128,1.0);

}

#logo{
  height:12em;
  width:10em;
  border-radius: 50%;
  margin-left: .5em;
  margin-top: 10em;
  display: inline-block;
  position:absolute;
  top:0px;
  left:2%;

  animation: drive 3s;
  animation-delay:.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode:both;

}
@keyframes drive{
  0%{top:-300px ;}
      35%{top:100px ;}
        70%{top:-100px ;}
          100%{top:6px ;}

}
#heading1 h1{
  font-size: 12%;
  font-weight: bolder;
  color: #f4d35e;
  text-shadow: 4px 3px 0 #1d9d74, 9px 8px 0 rgba(0,0,0,0.15);

  animation: drive 1.5s;
  animation-delay:3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode:both;
}

@keyframes drive{
  0%{top:-300px ;transform: rotateY(0deg);color:white;
  text-shadow: 0px 0px 0px black;opacity:0;}
      25%{top:100px ;transform: rotateY(90deg);color:rgb(255,255,255,.4);
      text-shadow: 0px 0px 0px black;opacity:.6;}
        50%{top:-100px ;transform: rotateY(180deg);color:rgb(255,255,255,.6);
        text-shadow: 0px 0px 0px black;opacity:.7;}
          75%{top:6px ;transform: rotateY(270deg);color:rgb(255,255,255,.8);
          text-shadow: 0px 0px 0px black;opacity:.8;}
          100%{top:6px ;transform: rotateY(360deg);color:#f4d35e;
          text-shadow:4px 3px 0 #1d9d74, 9px 8px 0 rgba(0,0,0,0.15);opacity:1;}

}



#logo img{
  height:15em;
  width:10em;
  border: 2px solid black;
  border-radius: 50%;

}

.navbar-toggler-icon{
  height:3em;
  width:3em;
}
.navbar-div{
  height: 5em;

  border:1px solid black;
  line-height: 3em;

}

.navbar-div h5{
    font-size: 2em;
}

  #heading1{
    display: inline-block;
    width: 1em;
    height: .15em;
    margin-top: .02em;
     margin-left: 2em;
    font-size: 45em;

    float: right;
    font-family: serif;
    text-align: center;

  }



section{
  border: 2px solid black;
    height:40em;


}
#section1{
  height:40em;
    margin:.2em;
   background-image: url('img/intro.jpg');
  background-position: 280%;



}

#intro{
  width:34em;
  height:38em;
  border: 2px solid black;
  margin-left: 26em;
  margin-top: .7em;
    padding: .5em;
      background-color: rgb(255,230,208);

}
#intro h3{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}
#intro p{
  font-family:sans-serif;
  font-weight: normal;
  font-size: 2rem;
  text-align: justify;
}
#section2{
  width:55em;
  height:101em;
  text-align: justify;
  padding: .5em;
  background-color: rgb(255,230,208);
     margin-top: 30px;
     margin-left: 6%;

}

#section2 h3{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
#section2 img{
  float:left;
  margin: .4em;
}


#section2 p{
  font-family:sans-serif;
  font-weight: normal;
  font-size: 2rem;
}

#section3{
  width:55em;
  height:96em;
  text-align: justify;
  padding: .5em;
  background-color: rgb(255,230,208);
  margin-top: 30px;
  margin-left: 6%;
  margin-bottom: 6%;
}
#section3 h3{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
#section3 img{
  float:left;
  margin: .4em;
}


#section3 p{
  font-family:sans-serif;
  font-weight: normal;
  font-size: 2rem;
}

footer{
  border: 2px solid black;
  height: 50em;
        margin:.2em;
        color: white;
          background-color: #343a40;

}



#f1,#f2,#f3{
  width:90%;

    border: 2px solid black;

 margin-left: 1em;
 margin-top: .5em;
 margin-bottom: .5em;
 float: left;
 font-family: sans-serif;
 font-weight: bold;
 font-size: 2em;
 text-align: center;

}
footer h3{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;

}


/* LARGE SCREEN VIEW*/

@media screen and (min-width:1200px)
{

  header{
      border: 2px solid black;
      height:20em;
          margin:.2em;
          background-color: rgb(0,0,128,1.0);



  }

  /*Animation*/
  #logo{
    height:12em;
    width:8em;
    border-radius: 50%;
    margin-left: 4%;
    margin-top: 3.5em;
    display: inline-block;
    position:absolute;
    top:0px;
    left:2%;

    animation: drive 3s;
    animation-delay:.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode:both;

  }
  @keyframes drive{
    0%{top:-300px ;}
        35%{top:100px ;}
          70%{top:-100px ;}
            100%{top:6px ;}

  }
  #heading1 h1{
    font-size: 11%;
    font-weight: bolder;
    color:#f4d35e;
    text-shadow: 4px 3px 0 #1d9d74, 9px 8px 0 rgba(0,0,0,0.15);

    animation: drive 1.5s;
    animation-delay:3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode:both;
  }

  @keyframes drive{
    0%{top:-300px ;transform: rotateY(0deg);color:white;
    text-shadow: 0px 0px 0px black;opacity:0;}
        25%{top:100px ;transform: rotateY(90deg);color:rgb(255,255,255,.4);
        text-shadow: 0px 0px 0px black;opacity:.6;}
          50%{top:-100px ;transform: rotateY(180deg);color:rgb(255,255,255,.6);
          text-shadow: 0px 0px 0px black;opacity:.7;}
            75%{top:6px ;transform: rotateY(270deg);color:rgb(255,255,255,.8);
            text-shadow: 0px 0px 0px black;opacity:.8;}
            100%{top:6px ;transform: rotateY(360deg);color:#f4d35e;
            text-shadow:4px 3px 0 #1d9d74, 9px 8px 0 rgba(0,0,0,0.15);opacity:1;}

  }
  #section2 img{
    float:left;
    margin: .4em;
    width:35%;
    border: 1px solid black;
    border-radius: 5%;
    transition: transform 1s linear ;
  }
  #section3 img{
    float:left;
    margin: .4em;
    width: 35%;
    height: auto;
    border: 1px solid black;
    border-radius: 5%;
    transition: transform 1s linear ;
  }

    .img:hover img{
      transform: rotateY(360deg);
    }

    #section2 h3{
      font-family: sans-serif;
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      transition: color .5s linear ;
    }
    #section3 h3{
      font-family: sans-serif;
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      transition: color .5s linear ;
    }
    h3:hover {
       text-shadow: 2px 2px #FF0000;
    }

  #section2{
    width:40%;
    height: auto;
    text-align: justify;
    padding: .5em;
    display: inline-block;
    margin-left: 7%;
      background-color: rgb(255,230,208);
        }

        #section3{
          width: 40%;
          height:auto;
          text-align: justify;
          padding: .5em;
          display: inline-block;
            margin-left: 7%;
            background-color: rgb(255,230,208);
          }
  #section2 p{
    font-family:sans-serif;
    font-weight: normal;
    font-size: 1rem;
  }
  #section3 p{
    font-family:sans-serif;
    font-weight: normal;
    font-size: 1rem;
  }


  #logo img{
    height:15em;
    width:10em;
    border: 2px solid black;
    border-radius: 50%;
  }


  .fixed-top{
    width:83.1em;
    margin-left: .2em;
    margin-right: 1em;
  }
  .navbar-div h5{
      font-size: 3em;
  }

  header a{
    color:white;
  }

  #heading1{
    display: inline-block;
    width: 1.3em;
    height: .15em;
    margin-top: 0em;
    font-size: 45em;
    font-family: serif;
    text-align: center;
    margin-right: .08em;

  }





  section{
    border: 2px solid black;
      height:40em;
         margin:.2em;

  }
  #section1{
    height:50vh;
      margin:.2em;
     background-image: url('img/intro(largeScreen).png');
    background-position: right;
    background-color: rgb(255,230,208);


  }

  #intro{
    width:55%;
    height:auto;

    margin-left: 0em;
    margin-top: .3em;

background-color: transparent;
      padding-right:  3%;
      border: 0px;

  }
  #intro h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
  #intro p{
    font-family:sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    text-align:center;
  }


  footer{
    border: 2px solid black;
    height: 50vh;
          margin:.2em;
          margin-top: 2%;
          position:absolute;
          top:235%;
          background-color: #343a40;

          color: white;

  }



  #f1,#f2{
    width:45%;
    height: 63%;

      border: 2px solid black;

   margin-left: 1em;
   margin-top: .5em;
   margin-bottom: .5em;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 1em;
   text-align: center;
   display: inline-block;
   margin-left: 4%;

  }
  #f3{
    width:95%;
    height:10%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
       margin-left: 4%;

  }
  footer h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;

  }

}
